<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Edit Event</h1>
<h3>Editing: <%= @event.name %></h3>

<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%></br>

<%= form_with(model: @event, url: event_path(:id => @event.id), method: "patch") do |form| %>
  <%= form.label :name, "Event name:" %>
  <%= form.text_field :name %>

  <%= form.label :date, "Date:" %>
  <%= form.date_field :date %>

  <%= form.label :location, "Location:" %>
  <%= form.text_field :location %>

  <%= form.submit "Submit" %>
<% end %><br>

<%= button_to "Delete this event", event_path(:id => @event.id), method: :delete %>