<h1>All Events</h1>

<% @events.each do |event| %>
  <b><%= event.name %></b><br>
  <%= event.date %><br>
  <%= event.location %><br>

  <%= form_with(model: event, url: "/signups", method: :post) do |form| %>
    <%= form.hidden_field :id, :value => event.id %>
    <%= form.submit "Sign up for this event" %>
  <% end %>
<% end %>