<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<% if current_user %>
  <h4>You are signed in as: <%= "#{current_user.username}" %></h4>
<% end %>

<h1>Details for <%= @event.name %></h1>

<p>Host: </p><%= link_to "#{@creator.username}", show_user_path(:id => @creator.id) %>
<p>Date: </p><%= @event.date %>
<p>Location: </p><%= @event.location %><br>

<% if current_user %>
  <% if @event.attendees.where(id: current_user.id).any? %>
    <% signup_to_delete = @event.signups.find_by attendee_id: current_user.id %>
    <%= button_to "Unattend this event", signup_path(id: signup_to_delete.id), method: :delete %><br>
  <% else %><br>
    <%= form_with(model: @event, url: "/signups", method: :post) do |form| %>
    <%= form.hidden_field :id, :value => @event.id %>
    <%= form.submit "Sign up for this event" %>
    <% end %><br>
  <% end %><br>
<% end %>

<b>Attendees:</b><br>
<% @event.attendees.each do |attendee| %>
  <%= link_to "#{attendee.username}", show_user_path(:id => attendee.id) %><br>
<% end %>